@media(max-width:425px){
    .pie-chart img{
        width: 80% !important;
    }
    .dash-date{
        height: 30% !important;
        width: 30% !important;
        margin: 10px;

        
    }
    .project-scroll{
        overflow: scroll !important;
        height: 280px !important;
    }
    .project-icon-width{
        border: 1px solid rgb(177, 172, 172) !important;
        border-radius: 7px !important;
        height: 4vh;
        width: 5vw;
}
.project-logo{
  width: 9vw;
  height: 5vh;
}
}
@media(max-width:768px){
    .pie-chart img{
        width: 90% !important;
    }
    .dash-date{
        height: 40% !important;
        width: 35% !important;
        margin: 10px; 
    }
    .table-sheet{
        height: 23rem !important;
        overflow: scroll;
    }


}
@media(max-width:1024px){
    .pie-chart img{
        width: 80% !important;
    }
    .dash-date{
        height: 40% !important;
        width: 35% !important;
        margin: 10px;
        color: rgb(177, 172, 172);

        
    }
    .table-sheet{
        overflow: scroll !important;
    }


}